.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body, html {
  background-color: #2d0f52;
  background-image: -webkit-linear-gradient(top, #4d0b59, #2d0f52); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image:         linear-gradient(to bottom, #4d0b59, #2d0f52); /* Chrome 26, Firefox 16+, IE 10+, Opera */
  background-attachment: fixed;

}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
   font-size: 2rem;
  margin: 1rem 0 1rem 0
}

.App-header h2 {
  font-size: 1.2rem;
  font-weight: normal;
  margin: 0 0 4rem 0;
}

.App-header a {
  display: flex;
  background-color: #f74d74;
  background-image: -webkit-linear-gradient(top, #f74d74, #f52574); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image:         linear-gradient(to bottom, #f74d74, #f52574); /* Chrome 26, Firefox 16+, IE 10+, Opera */
  width: 5rem;
  height: 5rem;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 2.2rem;
  border-radius: 5rem; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
  background-clip: padding-box; /* Android 2.2+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 4+ */
  -webkit-box-shadow: 0px 5px 25px 10px #f74d74; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
  box-shadow: 0px 5px 25px 0px #f74d74; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
  position: relative;
}
.App-header a:after {
  content: '⌃';
  display: block;
  position: absolute;
  top: -1.5rem;
  left: 1.8rem;
  font-size: 1.5rem;
  color: white;
}
.App-header a:before {
  content: '⌃';
  display: block;
  position: absolute;
  top: -2.1rem;
  left: 1.8rem;
  font-size: 1.5rem;
  opacity: 0.5;
}

#home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}

article p {
  font-size: 0.8rem;
  font-weight: normal;
  margin: 0 2rem 1.2rem 2rem;
  line-height: 1.6rem;
  color: white;
  text-align: left;
}

article p a {
  color: white;
  font-weight: bold;

}

article p:last-child {
  margin-bottom: 0;
}

h3 {
  font-size: 1rem;
  margin: 1rem 0
}

button {
  background-color: #faa54b;
  background-image: -webkit-linear-gradient(left, #faa54b, #e96981); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image:         linear-gradient(to right, #faa54b, #e96981); /* Chrome 26, Firefox 16+, IE 10+, Opera */
  border-radius: 3rem; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
  background-clip: padding-box;
  border: 0;
  padding: 1rem 2rem;
  text-transform: uppercase;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.illustration-small {
  width: 25%;
  height: auto;
}

.result {
  display: flex;
  width: 100%;
  height: 18rem;
  min-height: 18rem;
  align-items: center;
  justify-content: center;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 15px;
    left: 15px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    opacity: 0;
  }
}

